{% extends 'NetworkApp/index.html' %}
{% block content %}


<form class="search-form">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Document ID: </label>
        <input type="text" class="form-control" id="doc_id" name="doc_id" placeholder="e.g. 100001">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Year: </label>
        <input type="text" class="form-control" id="year" name="year" placeholder="e.g. 2022">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Document Type: </label>
        <input type="text" class="form-control" id="type" name="type"
            placeholder="e.g. Besluit van de Vlaamse Regering">
    </div>
    <!-- <input type="submit" value="OK"> -->
    <button type="submit" class="btn btn-primary">Submit</button>

</form>


<div class="search-results">
    {% if context.all_listings %}
    <h3>Search results: </h3>
    {% if context.all_listings|length > 1 %}
    {% for listing in context.all_listings %}
    <div class="card">
        <div class="card-body">
            <p>
                <b>Document ID:</b> {{ listing.0 }}
            </p>
            <p>
                <b>About:</b> {{ listing.2 }}
            </p>
            <p>
                <b>Type:</b> {{ listing.1 }}
            </p>
            <p><a href="{% url 'doc' listing.0 %}">More details</a></p>
        </div>
    </div>
    {% endfor %}

    {% else %}
    {{context.all_listings.0}}
    <div class="card">
        <div class="card-body">
            <p>
                <b>Document ID:</b> {{ context.all_listings.doc_id }}
            </p>
            <p>
                <b>About:</b> {{ context.all_listings.about }}
            </p>
            <p>
                <b>Type:</b> {{ context.all_listings.type }}
            </p>
            <p><a href="{% url 'doc' context.all_listings.doc_id %}">More details</a></p>

        </div>
    </div>
    {% endif %}
    {% else %}
    <div class="alert alert-warning" role="alert">Based on your filter, no data has been found.</div>
    {% endif %}
</div>
{% endblock %}