body {
    /* Vlaanderen Codex */
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: #333332;
    margin: 0;
}

.container-fluid {

    background-color: #FFED00 !important;

}

.bg-body-tertiary {
    background-color: #FFED00 !important;

}

.container {
    width: 100%;
    white-space: nowrap;
    height: 100px;
}

/* Vlaanderen Codex */
.navbar-text {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

#navbarSupportedContent {
    justify-content: flex-end !important;
}

#codexlink {
    text-decoration: none;
}

.main_body {
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

.search-results {
    margin-top: 10px;
}

.form-control {
    width: 50% !important;
}

.card {
    width: 50% !important;
}

.alert-success {
    width: 25% !important;
}

.list-group {
    width: 25% !important;

}

.report-card {
    width: 70% !important;
}

.report-table {
    width: 50% !important;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFED00 !important;
    color: white;
    text-align: center;
}

.flex-shrink-0 {
    margin-bottom: 20px !important;
}

.footer-p {
    color: black;
}

.last-card {
    margin-bottom: 100px !important;
}